<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">
        Crear Cliente
      </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>email</th>
        <th>fecha</th>
        <th>
          editar
        </th>
        <th>eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.createDate }}</td>
        <td>
          <button type="button" name="editar" [routerLink]="['/clients/form', client.id]" class="btn btn-primary btn-sm">editar</button>
        </td>
        <td>
          <button type="button" name="eliminar" (click)='delete(client)' class="btn btn-danger btn-sm">eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
